@import '../../node_modules/include-media/dist/include-media';
//@import url('https://fonts.googleapis.com/css?family=Roboto:300');

$breakpoints: (
    // Extra small device <576px (bootstrap default)
    'phone': 576px,
    // Small device >=576px <768px
    'tablet': 768px,
    // Tablet >= 768px <992px
    'desktop': 992px,
    // Desktop >=992px <1200px
    'xl-desktop': 1200px
    // XL Desktop >=1200px
);

$media-expressions: (
    'screen': 'screen',
    'print': 'print',
    'handheld': 'handheld',
    'landscape': '(orientation: landscape)',
    'portrait': '(orientation: portrait)',
    'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
    'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)'
);

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
