@import 'generic/_media';

.canvas {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  border: solid 2px #000;
}

@include media('>=phone', '<tablet') {}

@include media('>=tablet', '<desktop') {}

@include media('>=desktop', '<xl-desktop') {}

@include media('>=xl-desktop') {}
